h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-shadow: aquamarine;
    color: aquamarine;
    border: 10px solid lawngreen;
    border-radius: 10px;
    text-align: center;

}
body{
    background-color:darkkhaki;
    /*border: 10px solid hotpink;*/
    
    

}
p{
    border: 5px solid khaki;
    border-radius: 5px;

}
style{
    
}

img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.catoon{
    text-align: center;
    font-size: 50px;

}